@import '../sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');


*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    transition: all .2s linear;
}
*::selection{
    background: $color-yellow;
    color: $color-black;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:$color-medium-black;
}

html::-webkit-scrollbar-thumb{
    background:$color-yellow;
}
.header-wrap{
    position: fixed;
    top: 0;left: 0;
    z-index: 100;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .user{
        .name{
            font-size: 3.5rem;
            color: $color-white;
        }
        .designation{
            font-size: 2rem;
            color: #eee;
            margin-bottom: 0;
        }
        img{
            height: 17rem;
            width: 17rem;
            border-radius: 40%;
            margin-bottom: 1rem;
            border: .5rem solid $color-yellow;
            object-fit: cover;
        }
    }
    .navbar-wrap{
        width: 100%;
        ul{
            padding: 1rem 3rem;
            list-style: none;
            li{
                .a{
                    display: block;
                    padding: 1rem;
                    margin: 1.5rem 0;
                    background: $color-black;
                    color: $color-white;
                    font-size: 2rem;
                    border-radius: 5rem;
                    text-decoration: none;
                    &:hover{
                        background: $color-yellow;
                        color: $color-black;
                    }
                }
                
            }
        }
    }
}
#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: $color-black;
    color: $color-white;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    border-radius: 1rem;
    &:hover{
        background: $color-yellow;
        color: $color-black;
    }
    display: none;
}
.about{
    display: flex;
    flex-direction: column;
    padding:15rem;
    justify-content: center;
    h3{
        font-size: 2.5rem;
        color: $color-white;
    }
    h1{
        font-size: 5rem;
        color: $color-white;
        span{
            color: $color-yellow;
        }
    }
    p{
        font-size:2rem;
        color:#eee;
        padding: 1rem 0;
        text-align: justify;
    }
    .about-me{
        padding:.7rem 3rem;
        background:#333;
        color:#fff;
        cursor: pointer;
        margin-top: 1rem;
        font-size: 2rem;
        border-radius: 5rem;
        i{
            font-size: 1.8rem;
            padding: 0 0.5rem;
        }
        &:hover{
            background: $color-yellow;
            color: $color-black;
        }
    }
}
.work{
    display: flex;
    flex-direction: column;
    padding: 10rem;
    border-top: 2px solid $color-yellow;
    justify-content: center;
    
    h3{
        font-size: 3rem;
        color: $color-white;
        text-align: center;
        margin-bottom: 50px;
    }
    .experience-wrap{
        display: flex;
        margin: auto;
        width: 900px;
        justify-content: space-between;
        .left-side{
            h1{
                color: $color-yellow
            }
            h4{
                color: $color-white;
                font-size: 2rem;
            }
            h5{
                color: $color-white;
                font-size: 1.5rem;
            }
        }
        .resp{
            h4{
                font-size: 3rem;
                color: $color-yellow;
            }
            li{
                color: $color-white;
                padding: 1rem;
                font-size: 2rem;
            }
        }
    }
}
.projects{
    display: flex;
    padding: 10rem;
    border-top: 2px solid $color-yellow;
    justify-content: space-between;
    .skills{
        h1{
            font-size: 3rem;
            color: $color-white;
        }
        ul{
            list-style: none;
            padding: 0;
        }
        li{
            padding: 1rem;
            background: $color-yellow;
            color: $color-black;
            margin: 1rem 0;
            border-radius: 1rem;
            font-size: 2rem;
            text-align: center;
        }
        width: 20%;
    }
    .project{
        width: 500px;
        color: $color-white;
        h1{
            color: $color-white
        }
        ul{
            h2{
                color: $color-yellow
            }
        }
    }
}
.education{
    display: flex;
    flex-direction: column;
    padding: 10rem;
    color: $color-white;
    border-top: 2px solid $color-yellow;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 20px;
    }
    .engg,.high-school,.school{
        padding: 2rem;
        margin: 2rem;
        background: $color-yellow;
        width: 500px;
        color: black;
        border-radius: 2rem;
        cursor: context-menu;
        &:hover{
            background: white;
        }
    }
}
.contact{
    padding: 10rem;
    display: flex;
    flex-direction: column;
    color: $color-white;
    justify-content: center;
    align-items: center;
    border-top: 2px solid $color-yellow;
}

